@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("./assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ccc;
  user-select: default;
}

button, input, select, textarea {
    font-family: 'Nunito', 'Segoe UI', sans-serif;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #424242;
}

::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
}

button:focus {
    outline: 1px solid #007acc;
}
